<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
	<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
	<form novalidate  [formGroup]="categoryForm" (ngSubmit)="onSubmit()"  class="needs-validation" [class.was-validated]="isFormSubmitted">
		<label for="basic-url" class="form-label">Title</label>
		<div class="form-group">
			<input type="text"			 
				class="form-control d-inline-flex focus-ring focus-ring-primary py-1 px-2 text-decoration-none border rounded-2"
				[(ngModel)]="title_view"
				ngbAutofocus
				formControlName="title"
				[ngClass]="{
					'is-invalid':
						isFormSubmitted &&
						title.errors
				}"
				required>
			<div class="invalid-feedback" *ngIf="title.errors && title.dirty">
				Title is required - min 3 characters
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit"  href="#" class="btn btn-primary  float-end  border" >Save</button> 
		</div>
	</form>
</div>